{{template "base" .}}

{{define "loadjs"}}

<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js" ></script>
<script src="https://unpkg.com/notie" ></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" ></script>

{{end}}

{{define "content"}}

<div class="container">

    <div class="row">
        <div class="col">
            <img src="/static/images/kingsuite.png" class="img-fluid img-thumbnail room-image mx-auto d-block" alt="King Suite image">
        </div>

    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">King Suite</h1>
            <p>Your home away from home, this will be a vacation to remember.Your home away from home, this will be a vacation to remember.
                Your home away from home, this will be a vacation to remember.Your home away from home, this will be a vacation to remember.
                Your home away from home, this will be a vacation to remember.Your home away from home, this will be a vacation to remember.
                Your home away from home, this will be a vacation to remember.Your home away from home, this will be a vacation to remember.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center mb-2">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability Now</a>

        </div>         

    </div>

</div>

{{end}}

{{define "js"}}

<script>

    let attention = Prompt();


    document.getElementById("check-availability-button").addEventListener("click",function(){
            // notify("This is my message","warning")
        // notifyModal("title","<em>hello, world</em>","success","Button Text")
            // attention.error({msg:"Oops.."});

            let html = `
            <form action="reservation.html" method="get" novalidate class="needs-validation">

                    <div class="row" id="reservation-dates-modal">
                        <div class="form-group col">
                            <input disabled required class="form-control" type="text" placeholder="Check-in date" id="start" name="start">      
                        </div>
                        <div class="form-group col">
                            <input disabled required class="form-control" type="text" placeholder="Check-out date" id="end" name="end">
                        </div>
                    </div>
            </form>
            `
            attention.custom({msg:html, title:"Choose your dates"})

        });

    function Prompt(){
        let toast = function(c){
            const{
                msg="",
                icon="success",
                position ="top-end"

            }=c;
            const Toast = Swal.mixin({
                toast: true,
                title:msg,
                icon:icon,
                position: position,
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });
            Toast.fire({
            });
        }

        let success = function(c){
            const{
                msg ="",
                title="",
                footer="",

            }=c;
                Swal.fire({
                icon: "error",
                title: title,
                text: msg,
                footer: footer,
                });     
        }

        let error = function(c){
            const{
                msg ="",
                title="",
                footer="",

            }=c;
                Swal.fire({
                icon: "error",
                title: title,
                text: msg,
                footer: footer,
                });     
        }

        async function custom(c){
            const{
                msg="",
                title="",
            } = c;
            const { value: formValues } = await Swal.fire({
                title: title,
                html: msg,
                backdrop: false,
                focusConfirm: false,
                showCancelButton: true,
                willOpen: () => {
                    const elem = document.getElementById('reservation-dates-modal');
                    const rangepicker = new DateRangePicker(elem, {
                        format: "dd-mm-yyyy",
                        orientation : "top",

                        
                    }); 

                },

                preConfirm: () => {
                    return [
                    document.getElementById("start").value,
                    document.getElementById("end").value
                    ];
                },
                
                didOpen: () => {
                    document.getElementById('start').removeAttribute('disabled');
                    document.getElementById('end').removeAttribute('disabled');

                }
            });
            if (formValues) {
                Swal.fire(JSON.stringify(formValues));
            }
        }

        return{
            toast: toast,
            success: success,
            error: error,
            custom:custom,

        }
    }

    </script>

{{end}}
   
